@charset "UTF-8";

/*
    em html é id = em CSS é # (só pode um elemento)
    em html é class = e, CSS . (pode varios elementos)

*/
body{
    background-color: rgb(73, 179, 179);
}
#principal{
    text-align: center;
    background-color: rgb(170, 229, 236);
}
h1{
    color: rgb(250, 247, 84);
}
h2{
    color: blueviolet;
}

.basico {
    color: darkorange;
}
.intermediario{
    color: coral;
}

.avançado{
    color: dimgray;
}

.destaque{
    background-color: blueviolet;
}